/*=============================================
=            Home            =
=============================================*/

#search-content {
    padding-top: 82px;
    text-align: center;
    color: white;
    .content {
        .title {
            font-weight: 400;
            font-size: 24px;
            margin-bottom: 15px;
            line-height: 35px;
        }
        .desc {
            opacity: 0.5;
            font-size: 14px;
            color: white;
            line-height: 25px;
            font-weight: 300;
        }
    }
    &.insider {
        padding: 82px;
    }
    .search-form {
        padding-top: 50px;
        margin-bottom: 95px;
        .input-wrapper {
            display: inline-block;
            position: relative;
            input[type="text"] {
                border-radius: 2px;
                background: white;
                border: none;
                padding: 25px 50px 25px 25px;
                font-size: 14px;
                width: 780px;
                box-sizing: border-box;
                &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: #aaaaaa;
                }
                &::-moz-placeholder {
                    /* Firefox 19+ */
                    color: #aaaaaa;
                }
                &:-ms-input-placeholder {
                    /* IE 10+ */
                    color: #aaaaaa;
                }
                &:-moz-placeholder {
                    /* Firefox 18- */
                    color: #aaaaaa;
                }
            }
            button[type="submit"] {
                position: absolute;
                right: 0;
                top: 0;
                color: $color_pink-title;
                font-size: 27px;
                cursor: pointer;
                height: 100%;
                padding: 20px;
                transition: 0.4s;
                i {
                    position: relative;
                    z-index: 2;
                }
                &:after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 0;
                    height: 100%;
                    transition: 0.4s;
                    background-color: $color_pink-title;
                    z-index: 1;
                }
                &:hover {
                    color: white;
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.ratings {
    .rating-value {
        font-size: 17px;
        >span.active {
            color: #fcb941;
        }
    }
    .rating-desc {
        margin-top: 15px;
        font-size: 14px;
        font-weight: 300;
    }
}

#instruction {
    position: relative;
    z-index: 2;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    background: white;
    padding-top: 1px;
    .intruction-list {
        padding-top: 130px;
        padding-bottom: 110px;
        .instruction {
            .instruction-icon {
                margin-bottom: 50px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        .seperator {
            margin: 40px;
            display: inline-block;
            width: 70px;
            height: 12px;
            background-repeat: no-repeat;
            background-image: url("../images/icons/icon-seperator.svg");
            background-position: center;
            background-size: contain;
        }
    }
}

#reviews {
    position: relative;
    z-index: 1;
    background-color: #f5f7fa;
    padding-top: 1px;
    padding-bottom: 110px;
    .review-list {
        margin-top: 100px;
        .review {
            position: relative;
            padding: 32px 30px;
            background: #ffffff;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
            .review-heading {
                .review-img {
                    margin-right: 20px;
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;
                    overflow: hidden;
                    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.05);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .review-author {
                    .author {
                        font-size: 14px;
                        color: #293341;
                        line-height: 20px;
                        margin-bottom: 5px;
                    }
                }
                .quote {
                    position: absolute;
                    font-size: 200px;
                    font-weight: 100;
                    color: #e7ebf1;
                    right: 28px;
                    top: 20px;
                }
            }
            .review-body {
                border-top: 1px solid #e7ebf1;
                margin-top: 25px;
                padding-top: 28px;
                font-weight: 200;
                font-size: 15px;
                color: #293341;
                line-height: 20px;
            }
        }
        .owl-nav {
            position: absolute;
            top: 50%;
            left: -5.1%;
            width: 110.2%;
            display: flex;
            justify-content: space-between;
            &.disabled {
                display: none !important;
            }
        }
        .owl-dots {
            margin-top: 25px;
            text-align: center;
            .owl-dot {
                display: inline-block;
                margin: 0 7px;
                &.active {
                    span {
                        opacity: 1;
                    }
                }
                span {
                    display: block;
                    width: 15px;
                    height: 15px;
                    border-radius: 100%;
                    background: #d6d6d6;
                    opacity: 0.4;
                }
            }
        }
    }
}


/*=====  End of Home  ======*/