
/*=============================================
=            Result page            =
=============================================*/

#result{
    .result{
        .img{
            width: 380px;
            height: 380px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 50px;
            img{
                max-width: 100%;
            }
        }
        .details{
            padding-top: 20px;
            flex: 1;
            text-align: left;
            .content{
                border-bottom: 1px solid #E7EBF1;
                padding-bottom: 30px;
                margin-bottom: 30px;
            }
            a.button-style{
                margin-top: 30px;
                &:hover,
                &:focus{
                    color: white;
                }
                transition: .4s;
                &:hover{
                    background-color: #f32b73;
                }
            }
        }
    }
}


/*=====  End of Result page  ======*/

