@import "./mixins/mixins";
@import "./variables/variables";

/*=============================================
=            Common modifications            =
=============================================*/

*{
    outline: none;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: $color_black-lighter;
    background-color: #F5F7FA;
}

a,
a:focus,
a:hover {
    color: inherit;
    text-decoration: none;
}

button,
input {
    background: transparent;
    border: none;
}


/*=====  End of Common modifications  ======*/


/*=============================================
=            Common classes            =
=============================================*/

.wrapper {
    width: $size_wrapper-width;
    margin: 0 auto;
}

.wrapper-s {
    width: 780px;
    margin: 0 auto;
}

.section-heading {
    margin-top: 100px;
    text-align: center;
    .title {
        font-weight: 500;
        font-size: 24px;
        color: #293341;
        margin-bottom: 10px;
        &.pink {
            color: $color_pink-title;
        }
    }
    .desc {
        font-size: 14px;
        color: #8F959D;
    }
}

.main-content {
    text-align: center;
    .title {
        font-weight: 500;
        font-size: 16px;
        color: #293341;
        margin-bottom: 10px;
    }
    .desc {
        font-weight: lighter;
        font-size: 14px;
        color: #293341;
        line-height: 20px;
    }
}

.content-container {
    background: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    padding: 60px 100px;
    margin: 60px 0;
}

.button-style {
    display: inline-block;
    padding: 19px 40px;
    background: #FF3F85;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    i {
        font-size: 20px;
        margin-right: 10px;
        vertical-align: middle;
    }
    &:hover {
        color: white;
    }
}


/*=====  End of Common classes  ======*/


/*=============================================
=            Shared components            =
=============================================*/

@import "./layouts/header";
@import "./layouts/footer";
.top-gradient {
    background: $color_top-gradient;
    .ratings {
        margin-bottom: 100px;
    }
}


/*=====  End of Shared components  ======*/


/*=============================================
=            Views            =
=============================================*/

@import "./views/home";
@import "./views/result";
@import "./views/privacy";
@import "./views/contact";

/*=====  End of Views  ======*/