/*=============================================
=            Responsive            =
=============================================*/

@media screen and (max-width:$size_wrapper-width) {
    .wrapper,
    .wrapper-s {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    #search-content {
        .search-form {
            input[type="text"] {
                //  width: 100% !important;
            }
        }
    }
}

@media screen and (max-width:800px) {
    #search-content {
        .search-form {
            .input-wrapper {
                width: 100%;
                input[type="text"] {
                    width: 100% !important;
                }
            }
        }
    }
    #instruction {
        .intruction-list {
            flex-wrap: wrap;
            .instruction {
                width: 100%;
                margin-bottom: 40px;
            }
            .seperator {
                display: none;
            }
        }
    }
    .content-container{
        padding: 20px !important;
    }

    #result .result .img{
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width:650px){
    .button-style{
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }
}
@media screen and (max-width:500px) {
    header {
        .header-holder {
            padding: 25px 0;
        }
        nav.menu {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background: linear-gradient( -21deg, #e40032 0%, #bf00a3 50%, #5000c3 100%);
            z-index: 121;
            padding-top: 100px;
            box-sizing: border-box;
            ul {
                li {
                    display: block !important;
                    a {
                        display: block;
                        color: white;
                        text-align: center;
                        font-weight: 500;
                        padding: 15px;
                        opacity: 1;
                    }
                }
            }
        }
    }
    .menu-toggle{
        display: block !important;
    }
    #contact .contact-form .input-wrapper.half{
        width: 100% !important;
    }
}


/*=====  End of Responsive  ======*/