
/*=============================================
=            Footer            =
=============================================*/

footer{
    background-color: $color_black-lighter;
    padding: 30px 0;
    font-size: 14px;
    font-weight: lighter;
    color: white;
    text-align: center;
    small{
        opacity: .5;
    }
}

/*=====  End of Footer  ======*/

